.contact-info {
    display: block;
    width: 100%;
    padding: 0 0.5em;

    @media (min-width: $breakpoint-large) {
        width: 50%;
    }


    &__part {
        border-bottom: 1px solid rgb(187, 187, 187);
        padding: 1em 0 1em 1em;
        margin: .5em;
        position: relative;

        &:last-child {
            border: none;
        }

        .fa {
            position: absolute;
            left: -0.5em;
            color: $color-nav;
            font-size: $font-size-medium;
        }

        &__label {
            font-size: $font-size-medium;
            font-weight: bold;
            margin-bottom: .5em;
        }

        &__content {
            color: $color-text;


            &a {
                cursor: pointer;
            }
        }

    }
}