#contact-form {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5em 3em;
    background-color: $bg-color-contact;

    @media (min-width: $breakpoint-large) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input, textarea {
        border-radius: 5px;
    }

}