.main-nav {

    width: 35%;
    text-align: center;
    margin-bottom: 2em;

    li {
        border-bottom: 1px solid transparentize($color-subtitle, 0.7);
        text-transform: uppercase;
        line-height: 3em;
        font-weight: 700;

        &:last-child {
            border: none;
        }
    }
}