.navbar {

    &.fixed{
        padding: 0;
    }

    ul {
        display: flex;
        // background-color: $bg-color-nav;
        padding: 0.5em 0.5em;
        // border-bottom-left-radius: 5px;
        // border-bottom-right-radius: 5px;
        margin-bottom: 0;


        li {
            padding: 0.2em;
            margin: 0 0.5em;


        }

        a {
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover {
            color: rgb(188, 189, 188)
        }

    }

}