html {
    box-sizing: border-box;
    font-family: $font-family;
    color: $color-text;

    // a {
    //     text-decoration: none;
    // }
}

.wrapper {
    background-color: rgb(245, 245, 245);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

    &.menu-visible {
        .wrapper {
            filter: blur(8px);
        }

        .menu {
            visibility: visible;

            a {
                color: $color-text-alt;
                font-size: $font-size-xl;
            }
        }

    }

    &.art-zoom {
        .wrapper {
            filter: blur(8px);
        }
    }

    &.admin-bar {
        .header {
            top: 32px;
        }
    }
}

.navbar {

    @media (min-width: 300px){

        width: 0;
        visibility: hidden;
    }

    @media (min-width: 1000px){

        width: auto;
        visibility: visible;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}


.header a {
    color: $color-text-alt;
    font-weight: bold;
}

.heading {
    font-family: 'Quicksand', sans-serif;
    color: $color-subtitle;
}







