html {
    box-sizing: border-box;
    font-family: $font-family;
    color: $color-text;
}

.wrapper {
    background-color: rgb(245, 245, 245);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    cursor: pointer;
}


.header a {
    color: $color-text-alt;
    font-weight: bold;
}

.heading {
    font-family: 'Quicksand', sans-serif;
    color: $color-subtitle;
}







