$fa-font-path: "~font-awesome/fonts";

$font-family-fallback: 'Arial, sans-serif';
$font-family: 'Roboto', sans-serif;

$color-text: #000000;
$color-text-alt: #ffffff;
$color-nav: rgb(138, 136, 136);
$color-bg: rgb(115, 189, 121);

$bg-color-nav: rgb(54, 54, 54);

$font-size: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;

// Breakpoints for responsive
$breakpoint-medium: 500px;
$breakpoint-large: 800px;
