$fa-font-path: "~font-awesome/fonts";

$font-family: 'Roboto', sans-serif;

$color-text: #000000;
$color-header: #ffffff;

$title-size: 25px;
$text-size: 18px;

// Breakpoints for responsive
$breakpoint-small: 500px;
$breakpoint-medium: 800px;
$breakpoint-large: 1000px;
