$fa-font-path: "~font-awesome/fonts";

// font-family
$font-family-fallback: 'Arial, sans-serif';
$font-family: 'Roboto', sans-serif;
$font-family-subtitle: 'Raleway', sans-serif;

$color-text: #000000;
$color-text-alt: #ffffff;
$color-nav: rgb(138, 136, 136);
$color-subtitle: rgb(150, 148, 148);


$bg-color: #ffffff;
$bg-color-nav: rgb(54, 54, 54);

// font-size
$font-size: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;

$font-size-title-xp: 17px;
$font-size-title-xp-md: 25px;
$font-size-title-xp-lg: 30px;

$font-size-text-xp: 14px;
$font-size-text-xp-lg: 20px;

$font-size-date-sm: 17px;
$font-size-date-lg: 22px;

$font-size-icon-sm: 20px;
$font-size-icon-md: 30px;
$font-size-icon-lg: 40px;

// Breakpoints for responsive
$breakpoint-medium: 500px;
$breakpoint-large: 800px;
