.banner {

    background-color: black;
    min-height: 70vh;
    padding: 6em 2em 2em 2em;

    // background-image: url('../assets/images/desk.png');

    // background: linear-gradient(
    //     to right,
    //     transparentize($color-nav, 0.5),
    //     transparentize($color-nav, 1)),
    //     url('../assets/images/pic-desk.png');

    background-size: cover;
    background-attachment: scroll;
    background-position: right;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 500px){
        min-height: 50vh;
    }


    &__lead__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $color-text-alt;
        position: relative;
        top: 2;

    }

    &__lead__down {

        a {
            display: flex;
            justify-self: flex-end;
            color: $color-text-alt;
            border: 3px solid $color-text-alt;
            border-radius: 50%;
            padding: 0.4em;
            margin-top: 4em;

            i {
                color: white;
            }
        }

    }
}

.fa-globe {
    padding-right: 0.5em;
}

// .name {
//     width: 2em;
//     height: 2em;
// }

.logo-website {
    width: 10em;
    height: 10em;
}



