.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    // position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: $bg-color-nav;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &.fixed {
        position: fixed;
    }

    .ui-button, .logo {
        margin: 0.4em;

        a {
            text-decoration: none;
        }

        a:hover {
            color: rgb(188, 189, 188)
        }
    }

    .logo {
    // background-color: transparentize($bg-color-nav, 0.7);
    // padding: 0.3em 0.3em;
    // border-radius: 5px;
    // display: flex;
    // align-items: center;

        a {
            text-decoration: none;

        }

        a:hover {
            color: rgb(188, 189, 188)
        }

    }


}

.hidden {
    visibility: hidden;
}