.container {
    display: flex;
    flex-direction: column;
    align-content: center;

    &__about {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2em;
    }

    &__exp {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2em;
    }

}







