@import
    'abstracts/variables';

@import
    '~reset-css/sass/reset',
    '~font-awesome/scss/font-awesome';

@import
    'base/base',
    'base/typo',
    'base/animations';

@import
    'layout/banner',
    'layout/footer',
    'layout/header',
    'layout/menu',
    'layout/posts';

@import
    'components/social-nav';

@import
    "~bootstrap/scss/bootstrap";

@import
    'shame';