@import
    'abstracts/variables';

@import
    '~reset-css/sass/reset',
    '~font-awesome/scss/font-awesome';

@import
    'base/base',
    'base/typo',
    'base/animations';

@import
    'layout/banner',
    'layout/footer',
    'layout/header',
    'layout/menu',
    'layout/posts',
    'layout/about',
    'layout/xp',
    'layout/training',
    'layout/skills',
    'layout/contact';

@import
    'components/navbar',
    'components/contact-form',
    'components/field';

@import
    "~bootstrap/scss/bootstrap";

@import
    'shame';